body {
  text-align: center;
}
.form {
  width: 50%;
  text-align: right;
  background: aliceblue;
  margin: 0 auto;
}

.input-field {
  display: block;
  margin: 20px;
}
.input-field label {
  margin-right: 90px;
}
#button {
  text-align: center;
}